{% extends "core/base.html" %}
{% load i18n %}
{% block content %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th>{% trans "Name" %}</th>				
			</tr>
		</thead>
		<tbody>
        {% for person in object_list %}
            <tr>
            	<td><a href="{{person.id}}">{{ person }}</a></td>
            </tr>
        {% endfor %}
    	</tbody>
    </table>
    
        {% if is_paginated %}
        <ul class="pager">
            <li class="previous">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                {% endif %}
            </li>
                <span class="page-current">
                    {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
                </span>
            <li class="next">
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                {% endif %}
            </li>
        </ul>
    {% endif %}
    
{% endblock %}   