{% extends "core/base.html" %}
{% load i18n %}
{% block section %}    
	<div class="page-header">
	  <h1>{% trans "Sales" %} <small>{% trans "List" %}</small></h1>
	</div>   
{% endblock %}
{% block content %}
	<table class="table table-hover">
		<thead>
			<tr>
			    <th>#</th>
				<th>{% trans "Customer" %}</th>				
				<th>{% trans "Amount" %}</th>
				<th>{% trans "Date" %}</th>						
			</tr>
		</thead>
		<tbody>
        {% for sale in object_list %}        	
            <tr>
            	<td>
            		{% if sale.paid %}
            			<span class="glyphicon glyphicon-ok">
            		{% else %}	
            			<a href="{{ sale.id }}/pay"><span class="glyphicon glyphicon-euro"></a>
            		{% endif %}
            	</td>
            	<td><a href="/customers/{{ sale.customer.id }}">{{ sale.customer }}</a></td>
            	<td><a href="{{sale.id}}">{{ sale.amount }}</a></td>
            	<td>{{ sale.datetime }}</td>            	
            </tr>
        {% endfor %}
    	</tbody>
    </table>
    
    {% if is_paginated %}
        <ul class="pager">
            <li class="previous">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                {% endif %}
            </li>
                <span class="page-current">
                    {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
                </span>
            <li class="next">
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                {% endif %}
            </li>
        </ul>
    {% endif %}
  
{% endblock %}

{% block metadata %}
	{% trans "Total:" %} {{total}}
{% endblock %}   