{% extends "core/base.html" %}
{% load i18n %}
{% block section %}    
	<div class="page-header">
	  <h1>{% trans "Events" %} <small>{% trans "List" %}</small></h1>
	</div>   
{% endblock %}
{% block content %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th>{% trans "#" %}</th>
				<th>{% trans "Date" %}</th>
				<th>{% trans "Customer" %}</th>
				<th>{% trans "Price" %}</th>				
			</tr>
		</thead>
		<tbody>
        {% for entity in object_list %}
            <tr>
            	<td>
            		{% ifequal entity.status "U" %}
            			<a href="{{ entity.id }}/pay"><span class="glyphicon glyphicon-euro"></a>
           			{% endifequal %}
            		{% ifequal entity.status "C" %}	
            			<span class="glyphicon glyphicon-remove">            			
            		{% endifequal %}
            		{% ifequal entity.status "P" %}	
            			<span class="glyphicon glyphicon-ok">
            		{% endifequal %}
            	</td>
            	<td><a href="{{entity.id}}">{{ entity.when }}</a></td>
            	<td><a href="/customers/{{entity.customer.id}}">{{ entity.customer }}</a></td>
            	<td>{{ entity.price }}</td>
            </tr>
        {% endfor %}
    	</tbody>
    </table>
    
        {% if is_paginated %}
        <ul class="pager">
            <li class="previous">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                {% endif %}
            </li>
                <span class="page-current">
                    {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
                </span>
            <li class="next">
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                {% endif %}
            </li>
        </ul>
    {% endif %}
    
    <h3>{% trans "Events" %} <small>{% trans "Timeline" %}</small></h3>
    <div class="container" >
    	<div class="row ">            
			<div class="col-md-offset-2 col-md-8 col-sm-12 top-margin" >
				<ul class="timeline">
				    <li class="time-label">
				        <span class="bg-orange">{% trans "Today" %}</span>
				    </li>
				    {% for entity in object_list %}
				    <li>
						<i class="fa fa-envelope bg-blue"></i>
						<div class="timeline-item">
							<span class="time"><i class="fa fa-clock-o"></i>{{ entity.when }}</span>
                            <h3 class="timeline-header"><a href="/customers/{{ entity.customer.id }}">{{entity.customer }}</a>
                            <div class="timeline-body">
                                       Sed accumsan venenatis blandit. Duis auctor hendrerit metus
                            </div>
                            <div class='timeline-footer'>
                                <a>{% trans "Pay" %}</a>
                                <a>{% trans "More" %}</a>
                            </div>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
    
{% endblock %}   