{% extends "core/base.html" %}
{% load i18n %}
{% block section %}    
	<div class="page-header">
	  <h1>{% trans "Event" %} <small>{% trans "Detail" %}</small></h1>
	</div>   
{% endblock %}
{% block actions %}
	<div class="row">
		<div class="col-md-8"></div>
		<div class="col-md-4">			
			<div class="btn-group">
  				<button type="button" class="btn btn-default">
  					<a href="../add"><span class="glyphicon glyphicon-plus"></span></a>
				</button>
  				<button type="button" class="btn btn-default">
  					<a href="edit"><span class="glyphicon glyphicon-pencil"></span></a>
 				</button>
  				<button type="button" class="btn btn-default">
	  				<a href="delete"><span class="glyphicon glyphicon-trash"></span></a>
  				</button>
			</div>
		</div>
{% endblock %}  
{% block content %}		
		<dl class="dl-horizontal">
			<dt>{% trans "Customer" %}</dt>
  			<dd><a href="/customers/{{ object.customer.id }}">{{ object.customer }}</a></dd>
  			<dt>{% trans "Date" %}</dt>
  			<dd>{{ object.when }}</dd>
  			<dt>{% trans "Sale" %}</dt>
  			<dd>
  				{% if sale %}
  				<a href="/sales/{{ sale.id }}">{{ sale }}</a>
  				{% else %}
  				<a href="/events/{{ object.id }}/pay">{% trans "Unpaid" %}</a>
  				{% endif %}
  			</dd>
		</dl>
{% endblock %}  